# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# output
*.out
*.in
*.in~
*.out~

# editor
*.swp
*.~

# code blocks
usaco/
